---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
// the children/slot works a little differently when coming from Content folder
const { Content } = await post.render();

---

<BaseLayout pageTitle={post.data.pageTitle}>
  <article>
    <h1>{post.data.pageTitle}</h1>
    <p class="tags">Tagged with: {post.data.tags.map((tag) => <span><a href={`/tags/${tag}`}>{tag} </a></span>)} </ul> </p>

    <Content />
  </article>
</BaseLayout>
