---
import { getCollection } from "astro:content";
import FeaturedItem from "./FeaturedItem.astro";

const featuredWork = await getCollection('work', ({data}) => {
  return data.featured === true;
});
---


<div>
  <h2 id="work">Featured Work</h2>
  {featuredWork.map((item, index, slug) => (
    <FeaturedItem index={index} data={item.data} slug={item.id}/>
  ))}
</div>


