---
import { Image } from "astro:assets";
import cat from "../images/marshmallow-cat.png";
---

<style>
  .lp {
    display: flex;
    flex-direction: column;

    @media (min-width: 40rem) {
      flex-direction: row;
      gap: 2rem;
      > * {
        flex-basis: 100%;
      }
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
</style>

<div class="lp">
  <div><slot /></div>
  <div>
    <Image src={cat} alt="a white cat lounging, almost asleep" />
  </div>
</div>
